.galeria-producto__info span {
  font-size: 1rem;
  float: right; }

.encabezado {
  background-image: url("../img/jpg/landing.jpg");
  height: 100vh; }
  @media screen and (max-width: 600px) {
    .encabezado {
      height: 120vh; } }

.encabezado_container {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  overflow: hidden; }

.encabezado-img {
  height: 100%; }
  .encabezado-img img {
    width: 100%;
    position: relative;
    bottom: -15%; }
  @media screen and (max-width: 600px) {
    .encabezado-img {
      height: 40%; }
      .encabezado-img img {
        bottom: 10%; } }

.encabezado-accion {
  color: #fff;
  height: 100%; }
  .encabezado-accion .titulo {
    font-weight: 400; }
  .encabezado-accion .subtitulo {
    font-weight: 200; }
  @media screen and (max-width: 600px) {
    .encabezado-accion {
      height: 60%; } }

.encabezado-precio {
  font-weight: 400; }
  @media screen and (max-width: 600px) {
    .encabezado-precio {
      font-size: 3.2rem;
      margin: 0; } }

.boton-accion {
  color: white;
  border-style: solid;
  border-width: 1.5px; }

.encabezado-accion__container {
  margin-left: auto;
  margin-right: auto; }
  .encabezado-accion__container input {
    display: inline;
    width: 70%; }
    @media screen and (max-width: 600px) {
      .encabezado-accion__container input {
        margin: 0; } }

html {
  font-family: "Open Sans", sans-serif; }

@media only screen and (min-width: 993px) {
  .container {
    width: 85%; } }

nav {
  position: absolute;
  z-index: 1; }

.nav-wrapper {
  background-color: #df5f5d; }
  .nav-wrapper a img {
    max-width: 60%;
    margin: 0 20%;
    vertical-align: middle; }
  .nav-wrapper form {
    display: none; }

.secundario {
  margin: 30px auto; }

.row .col .secundario-img {
  padding: 0; }

.secundario-copy {
  color: #666666;
  font-weight: 200;
  overflow: hidden; }
  @media screen and (max-width: 992px) {
    .secundario-copy {
      font-size: 0.7rem; } }
  @media screen and (max-width: 600px) {
    .secundario-copy {
      font-weight: 400; } }

.secundario-boton {
  color: #666666;
  border-style: solid;
  border-width: 1.5px;
  border-color: #666666;
  padding: 0 0.5rem; }
  @media screen and (max-width: 992px) {
    .secundario-boton {
      height: 26px;
      line-height: 26px; } }

.secundario-accion {
  width: 45%;
  position: absolute;
  bottom: 10px; }
  .secundario-accion span {
    float: right;
    font-size: 1.5rem;
    font-weight: 600; }

.secundario-contenedor {
  overflow: hidden;
  position: relative; }

@media screen and (max-width: 600px) {
  .col.secundario-ficha2 {
    padding-top: 30px; } }

.carousel.carousel-slider {
  height: 400px; }

.slider-emociones .indicators {
  z-index: 2;
  bottom: 30px; }

.copy-slider {
  text-transform: uppercase; }

.copy-slider_subtitulo {
  font-weight: 200; }

.nav-tienda .nav-wrapper {
  background-color: #38d28c; }
  .nav-tienda .nav-wrapper a {
    background-color: #38d28c; }
  @media screen and (max-width: 992px) {
    .nav-tienda .nav-wrapper a.brand-logo {
      left: 0;
      transform: translateX(0); } }
  @media screen and (max-width: 600px) {
    .nav-tienda .nav-wrapper a.brand-logo {
      display: none; } }
  .nav-tienda .nav-wrapper form {
    display: inline-block;
    width: calc(100% - 269px);
    float: right; }
    @media screen and (max-width: 600px) {
      .nav-tienda .nav-wrapper form {
        width: calc(100% - 60px); } }

.input-field input.nav-input {
  height: 3rem;
  padding-left: 0;
  margin-left: 1rem;
  width: calc(100% - 5rem);
  color: white;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

.input-field input.nav-input:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

.input-field input.nav-input::-webkit-input-placeholder {
  color: white; }

.input-field input.nav-input::-moz-placeholder {
  color: white; }

.input-field input.nav-input:-moz-placeholder {
  color: white; }

.input-field input.nav-input:ms-input-placeholder {
  color: white; }

.input-field i.material-icons {
  line-height: 3rem;
  display: inline-block;
  color: white;
  position: relative;
  top: 10px;
  height: 2.5rem; }
  .input-field i.material-icons:hover {
    color: #df5f5d;
    cursor: pointer; }

/*.nav-tienda
 * position: absolute
 * .nav-tienda_fixed
 *   position: fixed
 *   top: 0
 *   z-index: 2
 * .nav-wrapper
 *   .nav-tienda_logo
 *     background-color: $verde_rm
 *     display: inline-block
 *     position: absolute */
.galeria {
  margin-top: 64px; }

.categorias__link {
  width: 10%;
  display: inline-block; }
  @media screen and (max-width: 600px) {
    .categorias__link {
      width: 20%; } }

.card-content.producto-info {
  padding: 0.2rem 1rem;
  position: relative; }

.producto-info__precio {
  color: #38d28c;
  font-weight: 600;
  margin: 0.5rem 0; }

.producto-info__nombre {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
  max-width: 80%;
  display: inline-block; }

.producto-info__unidad {
  display: inline-block;
  float: right;
  font-size: 1.3rem;
  font-weight: 300; }

.producto-info__boton {
  font-weight: 300;
  border-style: solid;
  border-width: 1.5px;
  border-color: #38d28c;
  padding: 0 0.5rem;
  position: absolute;
  top: 10%;
  right: 5%; }
  @media screen and (max-width: 992px) {
    .producto-info__boton {
      height: 26px;
      line-height: 26px; } }

.side-nav a.btn {
  bottom: 0; }

.collection-item p {
  margin: 0;
  font-style: italic;
  font-size: 0.8rem; }

.categorias {
  background-color: #38d28c; }
  .categorias .row {
    margin-bottom: 0; }

footer.page-footer {
  margin-top: 0;
  background-color: white;
  color: #666666; }

.footer-title {
  font-weight: 300; }

.footer-redsocial {
  -webkit-filter: invert(50%);
  filter: invert(50%); }

.footer-redsocial_link {
  padding: 0 0.5rem; }

/*# sourceMappingURL=style.css.map */
