//Variables
$rojo_rm: #df5f5d
$verde_rm: #38d28c
$font_stack: 'Open Sans', sans-serif
//Navbar
.nav-wrapper
  //background-color: #fff
  background-color: $rojo_rm
  a
    img
      padding: 5px
//Encabezado
.encabezado
  background-image: url("../img/jpg/silla.JPG")
.encabezado-opaco
  background-color: rgba(0,0,0,0.5)

.carousel.carousel-slider
  height: 400px
.carousel-item
  color: #fff
