//Variables
$rojo_rm: #df5f5d
$verde_rm: #38d28c
$font_stack: 'Open Sans', sans-serif
$break-small: 600px
$break-medium: 992px
//Contenedores
.container
  @media only screen and (min-width: 993px)
    width: 85%
//Navbar
nav
  position: absolute
  z-index: 1
.nav-wrapper
  background-color: $rojo_rm
  a
    img
      padding: 5px
//Encabezado
.encabezado
  background-image: url("../img/jpg/silla.JPG")
.encabezado_container
  background-color: rgba(0,0,0,0.5)
  height: 100vh
  overflow: hidden
.encabezado-img
  height: 100%
  img
    width: 100%
    position: relative
    bottom: -15%
  @media screen and (max-width: $break-small)
    height: 50%
.encabezado-accion
  color: #fff
  height: 100%
  h4
    font-weight: 800
  @media screen and (max-width: $break-small)
    height: 50%
.encabezado-accion__container
  margin-left: auto
  margin-right: auto
//Carousel
.carousel.carousel-slider
  height: 400px
//Navegador de tienda
.nav-tienda
  position: absolute
.nav-tienda_fixed
  position: fixed
  top: 0
  z-index: 2
//galeria
.galeria
  margin-top: 64px
.categorias__link
  width: 10%
  display: inline-block
  @media screen and (max-width: $break-small)
    width: 20%
