//CONTENIDO DEL CARRITO
ul#slide-out(class="side-nav")
  li
    .userView
      img(class="background" src="img/jpg/silla.JPG")
      a(href="#")
        span(class="white-text name") Mario HD
        span(class="white-text email") mario@redmaceta.com
  li
    ul.collection
      li.collection-item Canasta de frutas
        p Cantidad: 1 -  $180
      li.collection-item Pesto de cilantro
        p Cantidad: 1 -  $180
      li.collection-item Cartón de cervezas Red Maceta
        p Cantidad: 1 -  $180
      li.collection-item Lorem ipsum dolor sit amet, consectetur
        p Cantidad: 1 -  $180
      li.collection-item Canasta de frutas
        p Cantidad: 1 -  $180
  .container
    a(class="side-nav__boton waves-effect waves-light btn" href="#") Continuar
//BOTON DEL CARRITO
  div(class="boton-carrito" data-activates="slide-out")
  img(src="img/png/canasta.png" class="responsive-img")
