footer.page-footer
  .container
    .row
      div(class="col m6 s12")
        h5.footer-title Siembra la diferencia
        p © 2016 Red Maceta
        ul
          li
            a(href="#") Aviso de Privacidad
          li
            a(href="#") Términos y Condiciones
      div(class="col m4 offset-m2 s12")
        h5.footer-title Contáctanos
        div(class="row")
          img(style="height: 1em; margin-bottom: -3px; margin-left: 1rem;" src="img/png/whatsapp.png")
          | 55 24 12 18 98
        .row
            a(class="footer-redsocial_link" href="https://www.facebook.com/redmaceta/?fref=ts" target="_blank")
              img(class="footer-redsocial" src="img/png/redes_face.png" class="responsive-img")
            a(class="footer-redsocial_link" href="https://twitter.com/RedMaceta" target="_blank")
              img(class="footer-redsocial" src="img/png/redes_twitter.png" class="responsive-img")
            a(class="footer-redsocial_link" href="https://www.youtube.com/channel/UCgfJfuLthCYz6ojpH8xHq1g" target="_blank")
              img(class="footer-redsocial" src="img/png/redes_youtube.png" class="responsive-img")


//
  div.footer-copyright
    .container
      p © 2016 Red Maceta
      a(class="right" href="#") More links
