footer.page-footer
  .container
    .row
      div(class="col l6 s12")
        h5(class="white-text") Siembra la diferencia
        p(class="grey-text text-lighten-4") Somos el mejor proyecto del planeta, compra ya ya ya!!!!
      div(class="col l4 offset-l2 s12")
        h5(class="white-text") Redes sociales
        ul
          li
            a(class="grey-text text-lighten-3" href="#") Facebook
          li
            a(class="grey-text text-lighten-3" href="#") Facebook
          li
            a(class="grey-text text-lighten-3" href="#") Facebook
  div.footer-copyright
    .container
      |© 2016 Red Maceta
      a(class="grey-text text-lighten-4 right" href="#") More links
