li#itemid.collection-item Canasta de frutas
  p Cantidad:
    span#cantidadid 1
    | - $
    span#subtotalid 180
  div.carrito-controllers
    i(class="carrito-controllers_remove material-icons" onclick="remove(id)") remove_circle_outline
    i(class="carrito-controllers_add material-icons" onclick="add(id)") add_circle_outline
