nav#nav-tienda(class="nav-tienda")
  div(class="nav-wrapper")
    a(class="nav-tienda_logo hide-on-small-only" href="#")
      img(src="img/png/logo_blanco.png" class="responsive-img")
    form
      .input-field
        input(id="search" type="search" required)
        label(for="search")
          i(class="material-icons") search
        i(class="material-icons") close
