nav#nav-tienda(class="nav-tienda")
  div(class="nav-wrapper")
    form
      .input-field
        input(id="search" type="search" required)
        label(for="search")
          i(class="material-icons") search
        i(class="material-icons") close
