nav
  div(class="nav-wrapper")
    a(class="brand-logo" href="#")
      img(src="img/png/logo_blanco.png" class="responsive-img")
    ul#nav-mobile(class="right hide-onmed-and-down")
      li
        a(href="#") Carrito
