div(class="galeria__producto card col s6 m4")
  div(class="card-image waves-effect waves-block waves-light")
    img(src="img/jpg/miel.jpg")
    span(class="card-title") Miel de mezquite
  div(clas="card-content")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
