div(class="secundario-ficha1 col s12 l6")
  div(class="secundario-contenedor z-depth-1")
    div(class="col s6 secundario-img ")
      img(class="responsive-img materialboxed" src="img/jpg/miel.jpg")
    div(class="col s6")
      .secundario-copy
        h5.secundario-title Pesto de Cilantro
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .secundario-accion
        a(class="secundario-boton waves-effect waves-light btn-flat" href="#") Comprar
        span
          |$110
