div(class="secundario-contenedor z-depth-1 ")
  div(class="col s6 secundario-img ")
    img(class="responsive-img materialboxed" src="img/jpg/miel.jpg")
  div(class="secundario-copy col s6")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .secundario-accion
      a(class="secundario-boton waves-effect waves-light btn-flat" href="#") Comprar
      span
        |$110
