doctype html
html
  include includes/head.pug
  body
    include includes/nav.pug
    div(class="encabezado")
      div(class="row encabezado_container")
        div(class="encabezado-accion center col s12 m6 push-m6 valign-wrapper")
          div(class="encabezado-accion__container valign")
            form
                input(id="cupon" type="text" placeholder="Tengo un cupón" required)
                a(class="boton-accion btn-flat waves-effect waves-light btn" href="#") +
            h4(class="titulo") CANASTA DE FRUTAS Y VERDURAS
            h5(class="subtitulo") PROPUESTA DE VALOR
            h1(class="encabezado-precio") $180
            a(class="boton-accion waves-effect waves-light btn-flat" href="#") Agregar
        //div(class="encabezado-img col s12 m6 pull-m6")
          img(src="img/png/fruta.png" class="responsive-img")
    div(class="secundario")
      .container
        .row
          div(class="secundario-ficha1 col s12 m6")
            include includes/secundario.pug
          div(class="secundario-ficha2 col s12 m6")
            include includes/secundario.pug
    div(class="emociones")
      div(class="slider slider-emociones")
        ul.slides
          li
            img(src="img/jpg/silla.JPG")
            div(class="copy-slider caption center-align")
              h3.copy-slider_titulo Apoyamos a productores
              h5.copy-slider_subtitulo La fruta más fresca del maldito mundo
          li
            img(src="img/jpg/tomates.jpg")
            div(class="copy-slider caption center-align")
              h3.copy-slider_titulo Un producto cosechado para ti
              h5.copy-slider_subtitulo La verdura más fresca del maldito mundo
    //
      include includes/nav-tienda.pug
    div#galeria(class="galeria row")
      .container
        include includes/ficha.pug
        include includes/ficha.pug
        include includes/ficha.pug
        include includes/ficha.pug
        include includes/ficha.pug
        include includes/ficha.pug
        include includes/ficha.pug
        include includes/ficha.pug
    include includes/modal_producto.pug
    div(class="categorias center")
      .row
        a.categorias__link
          img(src="img/png/categoria1_paqt.png" class="responsive-img")
        a.categorias__link
          img(src="img/png/categoria1_paqt.png" class="responsive-img")
        a.categorias__link
          img(src="img/png/categoria1_paqt.png" class="responsive-img")
        a.categorias__link
          img(src="img/png/categoria1_paqt.png" class="responsive-img")
        a.categorias__link
          img(src="img/png/categoria1_paqt.png" class="responsive-img")
        a.categorias__link
          img(src="img/png/categoria1_paqt.png" class="responsive-img")
        a.categorias__link
          img(src="img/png/categoria1_paqt.png" class="responsive-img")
    include includes/footer.pug
    include includes/carrito.pug
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="js/materialize.js")
    script(type="text/javascript" src="js/inicio.js")
