doctype html
html
  include includes/head.pug
  body
    include includes/nav.pug
    div(class="encabezado")
      div(class="row encabezado_container")
        div(class="encabezado-accion center col s12 m6 push-m6 valign-wrapper")
          div(class="encabezado-accion__container valign")
            h4 Canasta de frutas
            h1 $180
            p La fruta más fresca del maldito mundo
            a(class="waves-effect waves-light btn-large" href="#") Comprar
        div(class="encabezado-img col s12 m6 pull-m6")
          img(src="img/png/fruta.png" class="responsive-img")
    div(class="secundario")
      .row
        div(class="secundario_uno col s6 m3")
          img(class="responsive-img materialboxed" src="img/jpg/miel.jpg")
        div(class="secundario_uno col s6 m3")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(class="waves-effect waves-light btn-large" href="#") Comprar
        div(class="secundario_dos col s6 m3")
          img(class="responsive-img materialboxed" src="img/jpg/chela.jpg")
        div(class="secundario_uno col s6 m3")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(class="waves-effect waves-light btn-large" href="#") Comprar
    div(class="emociones")
      div(class="slider slider-emociones")
        ul.slides
          li
            img(src="img/jpg/silla.JPG")
            div(class="caption right-align")
              h3 Apoyamos productores
              p La fruta más fresca del maldito mundo
          li
            img(src="img/jpg/tomates.jpg")
            div(class="caption left-align")
              h3 Un producto cosechado para ti
              p La verdura más fresca del maldito mundo
    //
      div(class="encabezado-opaco")
        div(class="carousel carousel-slider center")
          div(class="row carousel-item")
            div(class="carousel-item_estelar col s12 m6")
              img(src="img/png/fruta.png")
            div(class="carousel-item_accion col s12 m6")
              h2 Canasta de frutas
              h1 $180
              p La fruta más fresca del maldito mundo
              a(class="waves-effect waves-light btn-large" href="#") Comprar
      div.secundarios
        .row
          div(class="secundario_uno col s12 m6")
            img(class="responsive-img materialboxed" src="img/jpg/miel.jpg")
          div(class="secundario_dos col s12 m6")
            img(class="responsive-img materialboxed" src="img/jpg/chela.jpg")

    //
      div(class="slider fullscreen")
        ul.slides
          li
            img(src="img/jpg/silla.JPG")
            div(class="caption right-align")
              h3 Canasta de frutas
              p La fruta más fresca del maldito mundo
              img(src="img/png/fruta.png" class="responsive-img" style="width: 50%;")
          li
            img(src="img/jpg/tomates.jpg")
            div(class="caption left-align")
              h3 Canasta de verduras
              p La verdura más fresca del maldito mundo
              img(src="img/png/fruta.png" class="responsive-img" style="width: 50%;")



    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="js/materialize.min.js")
    script(type="text/javascript" src="js/inicio.js")
